

.container {
  margin: 50px auto;
  width: 80%;
}

.nav_menu {
  background-color: black;
  color: aliceblue;
  list-style: none;
  padding: 0;
}

.nav_menu li {
  display: inline-block;
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.nav_menu li:hover {
  background-color: #2486ce;
}

.nav_menu li a {
  display: inline-block;
  color: aliceblue;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  font-size: 20px;
}
